<div class="pagination">
    <span class="pagination__nav">
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">&laquo; first</a>
            <a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} ({{ page_obj.paginator.count }} items total).
        </span>

        {% if page_obj.has_next %}
            <a href="?{% param_replace page=page_obj.next_page_number %}">next</a>
            <a href="?{% param_replace page=paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
