{% extends 'base.html' %}
{% block body %}
    <a href="/"><= Powrót</a>
    <br/><br/>
    {% if object_list.count is 0 %}
        <p>Wszystkie dostępne dania zostały już dodane do tego menu.</p>
    {% else %}
    <table>

    {% for object in object_list %}
        <tr>
            <td>
                {{ object.name }}
            </td>
                <td>
                    <form method="POST">{% csrf_token %}
                        <input type="hidden" name="dish_pk" value="{{ object.pk }}">
                        <input type="submit" class="btn" value="Dodaj">
                    </form>
                </td>
            </tr>
    {%  endfor %}
    </table>
    {% endif %}
{% endblock %}