{% extends 'base.html' %}
{% block body %}
    <a href="/"><= Powrót</a>

    <br/><br/>
    <div style="height: 300px;"><img src="{{ object.picture.url }}" style="height: 100%"></div>
    <h1>
        {{ object.name }}
    </h1>
    <p>
        {{ object.description }}
    </p>
   <p>Cana: {{ object.price }}zł</p>
   <p>Czas przygotowania: {{ object.preparation_time }}min</p>

    <a href="/edit_dish/{{ object.pk }}">Edytuj</a><br/>
    <a href="/delete_dish/{{ object.pk }}">Usuń</a>

{% endblock %}