{% extends 'base.html' %}
{% block body %}

    <a href="/"><= Powrót</a>
    <h1>
    {{ object.name }}
    </h1>
    <p>
    {{ object.description }}
    </p>
    <p>Dania:</p>
    <table style="border-width: 5px; border-color: black">
    <tr>
        <td>Nazwa</td>
        <td>Cena</td>
    </tr>
        {% for dish in menu.dishes.all %}
            <tr>
                <td><a href="/dish_detail/{{ dish.pk }}">{{ dish.name }}</a></td>
                <td>{{ dish.price }} zł</td>
                {% if user.is_authenticated %}
                    <td>
                        <form method="POST">{% csrf_token %}
                            <input type="hidden" name="dish_pk" value="{{ dish.pk }}">
                            <input type="submit" class="btn" value="Usuń z menu">
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br/><br/>
    <a href="/add_dish_to_menu/{{ object.pk }}">+ Dodaj danie</a>

{% endblock %}